<div class="ui grid">
  <div class="ten wide column">
    <% 5.times do %>
      <div class="ui card" style="width: 100%;" >
        <div class="content">
          <div class="right floated meta">14h</div>
          <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg"> Elliot 
        </div>
        <div class="content">
          <p>男孩：我暗恋你很久了，做我女朋友吧？</p>
          <p>女孩：对不起，我有男朋友了。。。</p>
          <p>男孩：是吗？那。。。我们做炮友吧！</p>
        </div>
        <div class="content"><span class="right floated"> <i class="heart outline like icon"></i> 17 likes </span> <i class="comment icon"></i> 3 comments </div>
        <div class="extra content">
          <div class="ui large transparent left icon input">
            <i class="heart outline icon"></i>
            <input type="text" placeholder="Add Comment...">
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="six wide column">
    <div class="ui link cards">
      <div class="card">
        <div class="image">
          <img src="http://www.semantic-ui.cn/images/avatar2/large/matthew.png">
        </div>
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="meta">
            <a>好友</a>
          </div>
          <div class="description">Matthew is an interior designer living in New York. </div>
        </div>
        <div class="extra content">
          <span class="right floated">2013年加入 </span>
          <span><i class="user icon"></i> 75 Friends </span>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="http://www.semantic-ui.cn/images/avatar2/large/molly.png">
        </div>
        <div class="content">
          <div class="header">Molly</div>
          <div class="meta">
            <span class="date">Coworker</span>
          </div>
          <div class="description">Molly is a personal assistant living in Paris. </div>
        </div>
        <div class="extra content">
          <span class="right floated">2011年加入 </span>
          <span><i class="user icon"></i> 35 Friends </span>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="http://www.semantic-ui.cn/images/avatar2/large/elyse.png">
        </div>
        <div class="content">
          <div class="header">Elyse</div>
          <div class="meta">
            <a>Coworker</a>
          </div>
          <div class="description">Elyse is a copywriter working in New York. </div>
        </div>
        <div class="extra content">
          <span class="right floated">2014年加入 </span>
          <span><i class="user icon"></i> 151 Friends </span>
        </div>
      </div>
    </div>
  </div>
</div>

